.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.nav-logo{
    text-align: left;
}

.nav-header h1{
    text-align: right;
}

.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
    
    
}
.nav-menu a{
    margin: 5px 10px;
    background-color:  transparent;
    
}
/* not required part 2 */

/* part 3 start */

.aboutme-des{
    text-align: left;
}

.aboutme-image{
    padding-top: 100px;
}

.aboutme-image img{
    height: 400px;
    width: 80%;
}

/* part - 4 star here */

.work-des p{
    font-size: 1rem;
    margin: 0px 0px;
    padding: 0px 0px;
}

.card{
    background-color: rgb(187, 171, 171);
    height: 580px;
    width: 95%;
    border: 3px solid black;
    border-radius: 10px;
    transition: 0.2s linear;
}

.card:hover{
    box-shadow: 10px 10px 5px black;
    height: 578px;
    width: 100%;
}

.card hr{
    margin: 0px auto;
}

.pro-exp::after{
    content: '';
    display: table;
    clear: both;
}

/* part 5 star here  */

/* footer star here */

.one a{
    display: inline;
    padding: 5px 5px;
}
.one a:hover{
    background-color: black;
}
.one{
    height: 50px;
}